/bin/*
/bin_r/*
*.ncb
*.obj
*.pdb
*.ilk
*.exp
*.pch
*.rar
AppParser.ncb
/Win32/*
/GenymotionMonitor/Debug/*
/GenymotionMonitor/Release/*
/ImageExtractor/加狗/*
/ImageExtrator/加狗_Release/*
/AppParser/加狗/*
/AppParser/加狗_Release/*
/UCParser/加狗/*
/UCParser/加狗_Release/*
/UCParser/Debug/*
/UCParser/Release/*